---
layout: post.njk
title: Anchorage Transportation and Getting Around | AlaskaGold
description: Review Anchorage transportation options including flights, highways, taxis, rentals, trails, and connections around Southcentral Alaska.
canonical: https://www.alaskagold.com/anchorage/transportation.html
permalink: /anchorage/transportation.html
unsplash_photo_id: "fZHPeSbemRM"
unsplash_alt: "a-bridge-over-a-body-of-water-with-mountains-in-the-background"
---


<h1 class="center-text">Anchorage Transportation and Getting Around</h1>
<p>
  Anchorage is the bustling heart of south-central Alaska and is home to nearly half the state&rsquo;s
  population. &nbsp;Use Anchorage as your base camp for your Alaskan adventure, but be sure to spend a few days in
  town.&nbsp; With an international airport and an array of first-rate hotels, museums and restaurants, Anchorage
  is as comfortable as any American city, but is situated in the shadow of the Chugach Mountains and is surround
  by the arms of the shining Cook Inlet.&nbsp;
</p>
<div class="coppernavigation">
  <ul>
    <li><a href="./">Top</a></li>
    <li><a class="selected" href="transportation.html">Transportation</a></li>
    <li><a href="accommodation.html">Accommodations</a></li>
    <li><a href="restaurant.html">Restaurants</a></li>
    <li><a href="activities.html">Activities</a></li>
    <li><a href="events.html">Extras and Events</a></li>
  </ul>
</div>

<h3>Transportation</h3>
<p>Driving in Alaska</p>
<p>
  The Alaskan Highway System is an excellent way to get around the state.&nbsp; If you are flying or cruising
  into Alaska there are many ways for you to make use of the nearly 5,000 miles of paved road.&nbsp; There are
  companies that offer guide-led transportation, but for those of you who prefer to see things at your own pace,
  it will be worth the expense to rent a vehicle.
</p>
<p>
  On the Seward Highway south of Anchorage, Alaskans observe a &ldquo;5 Car Rule&rdquo;.&nbsp; There are very
  few safe places to pass on the Seward, so custom dictates that if more than 5 cars are grouped behind you, you
  pull over in the next observation area.&nbsp; Remember that while the Seward Highway is steeped in majesty, many
  locals are just trying to commute to work.
</p>
<p>
  Anchorage itself is very easy to navigate.&nbsp; Downtown and midtown are set up in a near perfect grid
  consisting of numbered avenues and lettered streets (east of A St. you&rsquo;ll find alphabetized roads Barrow,
  Cordova, Denali, Eagle, etc.).
</p>
{% unsplashImage "TD4DBagg2wE", "A warm cup of coffee on a wooden table.  Just captured the cozy morning vibe. and you are going to need it to start your day. especially in Alaska. and if you have to drive or fly good grief" %}
<dl>
  <dt>The Alaska Highway</dt>
  <dd>
    The Alaska Highway begins in Dawson Creek, British Columbia, Canada and ends at Delta Junction, about 100
    miles outside Fairbanks.&nbsp; This nearly 1500 mile highway is the only road that joins the Alaska Highway
    system with the rest of North America.<br><br>
    Most visitors fly or cruise into the state, but those intrepid few who make the drive never forget it.&nbsp;
    If you plan to make this drive find out all you need to know by visiting the Milepost.
  </dd>
  <dt><a href="https://themilepost.com/">The Milepost</a></dt>
  <dd>
    The Milepost is an excellent resource for anyone thinking of braving the wilder roads of Alaska outside of
    Anchorage.&nbsp; A must read for motorcyclists!
  </dd>
  <dt><a href="https://dot.alaska.gov/anc/">Ted Stevens International Airport</a></dt>
  <dd>
    The Ted Stevens International Airport is the state&rsquo;s largest passenger airport.&nbsp; It is served by
    <a href="https://dot.alaska.gov/airport-portal.shtml">most major airlines</a> and its airport
    code is ANC.&nbsp; This is how the vast majority of visitors enter and leave the state.
  </dd>
  <dt><a href="https://www.muni.org/departments/merrill_field/pages/default.aspx">Merrill Field</a></dt>
  <dd>
    The first airport in Anchorage, Merrill Field is a working airfield used by hundreds of small aircraft
    pilots.&nbsp; The men and women who fly out of Merrill are often delivering goods to one of the many towns the
    lie off of the Alaskan highway system.
  </dd>
  <dt><a href="https://dot.alaska.gov/stwdav/AirportList.shtml">Lake Hood</a></dt>
  <dd>
    Under the authority of the Ted Stevens International Airport, Lake Hood is the world&rsquo;s busiest
    floatplane base.&nbsp; Hire a pilot for flightseeing or for an air taxi to far off towns.
  </dd>
  <dt><a href="https://dot.alaska.gov/traveler.shtml">Alaska DOT traveler information</a></dt>
  <dd>Nice list of information for travelers where you are travelling by land (bikes too!), sea, air</dd>
  <dt><a href="https://clippershipcamper.com">Clippership Motorhome Rentals</a></dt>
  <dd>
    Clippership Motorhome Rentals also offers everything 36&rsquo; luxury RVs to hybrid cars.&nbsp; They also
    rent fishing equipment.
  </dd>
  <dt><a href="https://www.greatalaskanholidays.com">Great Alaskan Holidays, Inc.</a></dt>
  <dd>Great Alaskan Holidays, Inc. specializes solely in RV rental and sales.</dd>
  <dt><a href="https://www.alaskarailroad.com/">The Alaska Railroad</a></dt>
  <dd>
    The easiest and most leisurely way out of Anchorage is on the Alaska Railroad.&nbsp; Whether your heading
    north to Denali or Fairbanks, or south to Whittier or Seward, the train is an excellent option for those who
    prefer to savor the scenery rather than rent a vehicle.
  </dd>
  {% unsplashImage "phIFdC6lA4E" %}

  <dt><a href="https://www.muni.org/departments/transit/peoplemover/Pages/default.aspx">People Mover</a></dt>
  <dd>
    People Mover is Anchorage&rsquo;s municipal bus system.&nbsp; Services the airport, downtown, and all of
    Anchorage.
  </dd>
  <dt><a href="https://www.alaskayellowdispatch.com/">Alaska Yellow Cab</a></dt>
  <dd>Catch a cab anywhere in town, 24 hours a day. (907)222-2222.</dd>
  <dt>Checker Cab</dt>
  <dd>Offering service anywhere in town. (907)276-1234.</dd>
</dl>
